{% extends "base_user_account.html" %} {% load static %}{% block content %}
<script src="{% static 'js/mensajes.js' %}"></script>
<h2>Conversación con {{otroUsuario}}</h2>
<h3>{{canal.title}}</h3>

{% for row in mensajes %}
<div class="mensajes">
    {% if row.emisor == usuario %}
    <!-- Mensaje del usuario -->
    <div class="mensajeUsuario">
        <div class="mensaje">
            <div class="texto-reducido">{{row.emisor}} - {{row.date_posted}}</div>
            {% comment %}
            <h3 id="titulo">{{row.title}}</h3>
            {% endcomment %}
            <div id="mensaje">{{row.text}}</div>
        </div>
    </div>
    {% else %}
    <!-- Mensaje del otro usuario -->
    <div class="mensajeOtro">
        <div class="mensaje">
            <div class="texto-reducido">{{row.emisor}} - {{row.date_posted}}</div>
            {% comment %}
            <h3 id="titulo">{{row.title}}</h3>
            {% endcomment %}
            <div id="mensaje">{{row.text}}</div>
        </div>
    </div> {% endif %}

</div> {% endfor %} {% include "partials/pagination.html" with page_obj=mensajes %}
<!-- TODO: Si te parece podemos limitar el número de caractéres -->
<!-- TODO2: ¿Tiene un tamaño determinado en base de datos?-->
<div class="formulario-mensajes">
    <div class="titulo-noticia">Responder:</div>
    <form method="post">
        {% csrf_token %} {% if canal.title == 'conversation' %}
        <div class="usuario-mensaje">Título</div>
        <div><input class="input-mensajes" type="text" placeholder="título" name="title" id="titMensaje"></div>


        {% endif %}


        <div class="usuario-mensaje">Mensaje</div>
        <div><textarea class="input-mensajes" name="text" placeholder="Mensaje para {{otroUsuario}}..." id="text" cols="30" rows="10"></textarea></div>
        <div><input class="btn btn-black" type="submit" value="Enviar" id="enviarMensaje" /></div>
    </form>
</div>


{% endblock %}