{% extends "base.html" %} {% load bootstrap %} {% block content %}


<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <div class="login-form">
        {{ form|bootstrap }}

        <input type="submit" value="Cambiar" class="btn btn-success">
        <input type="hidden" name="next" value="{{ next }}">


    </div>




</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvidé contraseña</a></p>

{% endblock %}