{% load static %}{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Mario Osuna y Manuel Hidalgo">
    <title>YourMusic</title>
</head>

<body>
    <header>
        <!-- TODO_ANOTACIÓN: Cuando se suba al servidor tendremos que indicar la url del servidor para que muestre la foto -->
        <h1>YourMusic</h1>
        <img src="http://yourmusic.iesgrancapitan.org/{% static 'img/your-music-logo.svg' %}" />
    </header>
</body>


<p>Se ha solicitado cambiar la contraseña en tu cuenta de Your Music, por favor si no has sido tu ignora este mensaje, si por el contrario has solicitado cambiar la contraseña accede al link que te adjuntamos</p>
<!-- TODO_ANOTACIÓN: Cuando se suba al servidor tendremos que indicar la url del servidor para que el redireccionamiento funcione -->
<a href="http://yourmusic.iesgrancapitan.org/accounts/password_reset_complete/{{dato}}">Restaurar contraseña</a>
<h6>Atentamente el equipo de Your Music</h6>
{% endblock %}