    {% comment %} Cabecera de la página {% endcomment %}
    {% include "partials/header.html" %}
    {% comment %} Menú de la página {% endcomment %}
    {% include "partials/menu.html" %}
    {% comment %} Página central {% endcomment %}
    <div class="contenedor">
        {% comment %} Título de sección {% endcomment %}
        <h2>¿Buscas un grupo?</h2>
        <div class="principal">
            {% block content %} {% endblock content %}
        </div>
    </div>
    {% comment %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> {% endcomment %}

</body>
</html>

<!-- Código antiguo -->
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    {% include "partials/header.html" %}

    <div class="container my-3">
        {% block content %} {% endblock content %}

    </div>
    {% include "partials/footer.html" %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>


</body>



</html> {% endcomment %}