<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Mario Osuna y Manuel Hidalgo">
    <title>YourMusic</title>
    {% load static %} {% comment %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"> {% endcomment %} {% comment %}
    <link rel="stylesheet" href="{% static 'css/user.style.css' %}"> {% endcomment %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/1033c8428d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% comment %} Cabecera de la página {% endcomment %}
    {% include "partials/header.html" %}
    {% comment %} Menú de la página {% endcomment %}
    {% include "partials/menu.html" %}
    {% comment %} Página central {% endcomment %}
    <div class="contenedor">
        {% comment %} Título de sección {% endcomment %}
        <h2>Inicio de sesión</h2>
        <div class="login">
            {% block content %} {% endblock content %}
        </div>
    </div>
    {% comment %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> {% endcomment %}


</body>



</html>