<!-- Cabecera de la página -->
{% include "partials/head.html" %} 
{% include "partials/scripts_gral.html" %} 
{% include "partials/header.html" %} 
{% comment %} Página central {% endcomment %}
<div class="contenedor">
    {% comment %} Título de sección {% endcomment %}
        <div class="principal">
        {% block content %} {% endblock content %}
        </div>
        {% include "partials/footer.html" %}
</div>
{% comment %}
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> {% endcomment %}


</body>



</html>