{% extends "base.html" %} {% load static %}{% block content %}
<script src="{% static 'js/choose_profile.js' %}"></script>
<!-- Título de sección -->
<h2>Elige el tipo de perfil</h2>
<div class="principal">
    <div class="wizzard-parrafo">{{userprofile}}, para poder completar tu usuario y disfrutar de la experiencia de usar <strong>Your Music</strong>, debes elegir tu perfil. Complétalo a través de este sencillo formulario.</div>
    <form method="post" enctype="multipart/form-data" id="regForm">
        {% csrf_token %}
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <div class="registro-botones">
                <div>
                    <input type="radio" id="grupo" name="tipoProfile" value="grupo" hidden checked>
                    <label id="registro-grupo" for="grupo" class="registro-marcado">
                    <i class="fas fa-guitar">GRUPO</i> 
                </label>
                </div>
                <div>
                    <input type="radio" id="ojeador" name="tipoProfile" value="ojeador" hidden>
                    <label for="ojeador" id="registro-ojeador" class="registro">
                    <i class="fas fa-music">OJEADOR</i> 
                </label>
                </div>
            </div>
            <div class="wizzard-parrafo" id="descripcionGrupo">
                Si quieres que tu grupo se pueda dar a conocer crea ahora tu perfil como músico y habla con ojeadores, comunicate con tu audiencia mediante noticias, deja tus redes, música y vídeos en tu perfil.
            </div>
            <div class="descripcionWizzardOculto" id="descripcionOjeador">
                Si buscas impulsar tu negocio o simplemente conocer la música que se está dando a conocer crea un perfil para comunicarte con grupos, clientes o audiencia. Además de poder facilitar la busqueda del sonido que deseas.
            </div>
        </div>
        <!--TODO: Esta parte la podríamos dividir en dos columnas o como si fuera una ficha y no tanto un formulario en el que venga una cosa debajo de otra  -->
        <div class="tab">
            <div>
                <h3 class="tituloh3">Información básica:</h3>
            </div>
            <div><input class="input-wizzard" type="text" name="nombre" placeholder="Nombre"></div>
            <div>Foto del grupo<br/>
                <input id="inputFile1" name="file" type="file"><br>
                <!-- TODO: Le he puesto temporalmente el tamaño, estaría bien ponerle para que cuando
                     no se haya seleccionado ninguna foto no se muestre el cuadro de la imagen, a través de css con display:none o similar,
                      lo que mejor veas. Y faltaría lo que ya te he comentado en el js, hacer que este input no sea obligatorio  -->
                <img style="width: 300px; height: 300px;" id="img1"></div>
            <div><textarea name="descripcion" placeholder="Descripción básica de tu grupo, integrantes historia, y todo aquello que queráis contar para atraer ojeadores" id="descripcion" cols="38" rows="10" class="textarea-info"></textarea></div>



            <!-- <div><input class="input-wizzard" type="file" name="avatar"></div> -->
            <!-- <div><input class="input-wizzard" placeholder="Last name..." oninput="this.className = ''"></div> -->
        </div>

        <div class="tab">
            <div>
                <h3 class="tituloh3">Información necesaria para obtener busquedas:</h3>
            </div>

            <div id="TipoOjeador">Tipo de ojeador<select name="TipoOjeador" id="TipoOjeador">{% for row in tipos %}      
                <option                  
                value="{{row.id}}">        
                    {{row}}
                </option>
                {% endfor %}
            </select></div>
            <div>Provincia de origen:<select name="provincia" id="provincia">{% for row in provincias %}      
                <option                  
                value="{{row.id}}">        
                    {{row}}
                </option>
                {% endfor %}
            </select></select>
            </div>
            <div class="estilos">
                <div>
                    <h3>Géneros musicales</h3>
                </div>
                <div class="lista-generos" id="listGenerosComp">
                    {% for c in generos %}
                    <label>
                    <input type="checkbox" name="generos" 
                        {% for id in genero_id %}             
                            {% if id.id|floatformat:"0" == c.id|floatformat:"0"  %} 
                                checked 
                            {% endif%}  
                        {% endfor %} 
                        id="{{c.id}}" value="{{c.id}}"> {{c.title}}</label> {% endfor %}
                </div>
                <div class="ver-mas"><span><a href="#" id="verMas">Ver más</a></span></div>
            </div>

        </div>

        <div class="tab">
            <div>
                <h3 class="tituloh3">Información de contacto:</h3>
            </div>
            <div><input class="input-wizzard" name="email" placeholder="E-mail" type="email"></div>

        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="btn btn-black boton-wizzard" type="button" id="prevBtn">Anterior</button>
                <button class="btn btn-black boton-wizzard" type="button" id="nextBtn">Siguiente</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>
</div>
{% endblock content %}