{% extends "base_gral.html" %}{% block content %}
<!-- TODO2 aquí hay que poner el nombre del grupo -->
<h2>{{usuario.nombre_profile}}</h2>
<input name="nombre" type="text" value="{{usuario.nombre_profile}}">


<div class="cabecera">
    {% if userprofile.userprofile %}
    <img id="iavatar" src="/static/media/{{userprofile.avatar}}" /> {% else %}
    <img id="iavatar" src="/static/img/your-music-grupo.svg" /> {% endif %}
    <input class="btn btn-black" name="foto" type="submit" value="Cambiar imagen">
</div>

<div class="estilos">
    <div>
        <h3>Géneros musicales</h3>
    </div>
    <!-- TODO2 Información de los estilos -->
    <div class="lista-generos" id="listGenerosComp">
        {% for c in generos %}
        <label>
        <input type="checkbox" name="generos" 
            {% for id in genero_id %}             
                {% if id.id|floatformat:"0" == c.id|floatformat:"0"  %} 
                    checked 
                {% endif%}  
            {% endfor %} 
            id="{{c.id}}" value="{{c.id}}"> {{c.title}}</label> {% endfor %}
    </div>
    <div class="ver-mas"><span><a href="#" id="verMas">Ver más</a></span></div>
</div>
<div class="informacion">
    <div>
        <h3>Información</h3>
    </div>
    <!-- TODO2 Descripción del grupo -->
    <div>
        <textarea name="descripción" id="" cols="30" rows="10">
        {{usuario.descripcion}}
    </textarea>
    </div>
</div>
<div>
    <h3 class="tituloh3">Redes Sociales</h3>
</div>
<div class="redes-sociales">
    <!-- TODO2 Información redes sociales -->
    <div><span>Twitter</span></div>
    {% if usuario.twitter %}
    <div><input type="text" name="twitter" value="{{usuario.twitter}}" /></div>
    {% else %}
    <div><input type="text" name="twitter" value="" /></div>
    {% endif %}
    <div><span>Instagram</span></div>
    {% if usuario.instagram %}
    <div><input type="text" name="twitter" value="{{usuario.instagram}}" /></div>
    {% else %}
    <div><input type="text" name="twitter" value="" /></div>
    {% endif %}
    <div><span>Facebook</span></div>
    {% if usuario.facebook %}
    <div><input type="text" name="twitter" value="{{usuario.facebook}}" /></div>
    {% else %}
    <div><input type="text" name="twitter" value="" /></div>
    {% endif %}
    <div><span>Página web</span></div>
    {% if usuario.web %}
    <div><input type="text" name="twitter" value="{{usuario.web}}" /></div>
    {% else %}
    <div><input type="text" name="twitter" value="" /></div>
    {% endif %}
    <div><span>E-mail</span></div>
    {% if usuario.email_profile %}
    <div><input type="text" name="twitter" value="{{usuario.email_profile}}" /></div>
    {% else %}
    <div><input type="text" name="twitter" value="" /></div>
    {% endif %}


</div>
{% if tipo == "musico" %}

<div class="audios">
    <div>
        <h3 class="tituloh3">Audios</h3>
    </div>
    <audio controls src="/static/audio/dream-on-aerosmith.mp3"></audio>
    <form method="post" enctype="multipart/form-data" id="idAudio">
        <div class="custom-file">
            {% comment %} <label class="custom-file-label" for="customFile">Seleccionar archivo</label> {% endcomment %}
        </div>
        <input type="submit" name="audio" value="Seleccionar audio" class="btn btn-black ">
    </form>
</div>
<div class="videos">
    <div>
        <h3 class="tituloh3">Videos</h3>
    </div>
    <!-- TODO2 Videos del grupo -->
    <div class="ficha-video">
        <iframe class="videos-youtube" src="https://www.youtube.com/embed/IEqh1NBGbK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>Titulo de la canción</div>
    </div>
    <div class="ficha-video">
        <iframe class="videos-youtube" src="https://www.youtube.com/embed/IEqh1NBGbK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>Titulo de la canción</div>
    </div>
    <div class="ficha-video">
        <iframe class="videos-youtube" src="https://www.youtube.com/embed/IEqh1NBGbK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>Titulo de la canción</div>
    </div>
    <div class="ficha-video">
        <iframe class="videos-youtube" src="https://www.youtube.com/embed/IEqh1NBGbK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>Titulo de la canción</div>
    </div>
    <div class="ver-mas">Ver más</div>
    <div><i class="fas fa-plus-square"></i> Añadir nuevo video</div>
    <div class="form-video">
        <div>Título:</div>
        <div><input type="text" /></div>
        <div>Enlace:</div>
        <div><input type="text" /></div>
    </div>
</div>
{% else %}
<div><span>Tipo de Ojeador</span></div>
<select name="tipos" id="tipos">
    {% for row in tipos %}      
    <option 
    {% if row == tip %}
    selected
    {% endif %}    
    value="{{row}}">        
        {{row}}
    </option>
    {% endfor %}
</select> {% endif %}


<input type="submit" class="btn btn-black" value="Guardar datos" name="guardar"> {% comment %}
<form method="post" enctype="multipart/form-data" id="favatar">
    <div class="custom-file">
        {{form.avatar}}
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    {% csrf_token %} {{form.user}}
    <!-- <input type="submit" value="Enviar" class="btn btn-success "> -->
</form> {% endcomment %} {% endblock %}