{% extends "base_user_account.html" %}
{% block content %}
<!-- TODO: Dejarlo todo "bonito" xD -->
<h2>Tus datos de acceso</h2>
<p>{{usuario.username}}</p>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <!-- Dar borde o sombreado a esta caja para que se separe del resto. 
         Maquetar en distintos niveles los span de los inputs -->
    <div class="datos-acceso">
        <label>
            <span>Nombre</span>
            <input  name="nombre" type="text" value="{{usuario.username}}">
        </label>
        <label>
            <span>Email</span>
            <input name="email" type="text" value="{{usuario.email}}">
        </label>
    </div>
    <!-- TODO -->
    <!-- Este apartado he pensado que JS al pulsar el checkbox se cambian los campos de disabled y 
        se puede introducir una nueva contraseña,si no está marcado el programa interpretará
        que la contraseña no se va a cambiar-->
    <!-- TODO2 Aquí el problema está en que por seguridad, normalmente se suele pedir que introduzca
                también la contraseña antigua, se verifica la anterior y si es correcta ya se hace
                el cambio, a fin de evitar que nadie te la pueda modificar sólo por haber encontrado
                la sesión abierta. ¿Lo ves viable?-->
    <label><input type="checkbox" name="pass" id="pass">Cambiar contraseña</label><br>
    <label>Nueva contraseña<input disabled name="pass1" type="password" value=""></label><br>
    <label>Confirmar contraseña<input disabled name="pass2" type="password" value=""></label><br>

    <input type="submit" value="enviar">
</form>
{% endblock %}