{% extends "base_gral.html" %} {% block content %} {% load static %}
<script src="{% static 'js/mensajes.js' %}"></script>
<div class="principal">
<h2>{{post.title}}</h2>
<div class="post-inicial">
    <div>{{post.descripcion}}</div>
    <div class="post-detalles texto-reducido">Autor - 12.12.2020 16:40 UTC</div>
        {% comment %} <div>{{post.emisor}} - {{post.date_posted.day|stringformat:"02d"}}/{{post.date_posted.month|stringformat:"02d"}}/{{post.date_posted.year}} - {{post.date_posted.hour}}:{{post.date_posted.minute}} horas</div> {% endcomment %}
</div>
{% for row in post.mensajes_post.all %}
<div class="mensajeUsuario">
    <div class="mensaje">
        <div class="texto-reducido">{{row.autor_mensaje}} - {{row.date_posted.day|stringformat:"02d"}}/{{row.date_posted.month|stringformat:"02d"}}/{{row.date_posted.year}} - {{row.date_posted.hour}}:{{row.date_posted.minute}} horas</div>
        <div class="mensaje-titulo">{{row.title}}</div>
        <div class="mensaje-descripcion">{{row.descripcion}}</div>
    </div>
</div>
{% endfor %}
{% include "partials/pagination.html" with page_obj=post %}
<div class="formulario-mensajes">
    <div class="titulo-noticia">Añadir nueva respuesta:</div>
    <form method="post">
        {% csrf_token %}
        <div class="usuario-mensaje">Título:</div>
        <div><input class="input-mensajes" type="text" placeholder="Título respuesta" name="title" id="titMensaje"></div>
        <div class="usuario-mensaje">Mensaje:</div>
        <div><textarea class="input-mensajes" name="text" placeholder="Escribe aquí tu respuesta" id="text" cols="30" rows="10"></textarea></div>
        <div><input class="btn btn-black" type="submit" value="Añadir" id="enviarMensaje" /></div>
    </form>
</div>

{% endblock %}