{% extends "base.html" %} {% block content %}

<div class="principal">
    <h2>Foro: {{tema.title}}</h2>
    <div class="foro-descripcion">{{tema.descripcion}}</div>
    {% for r in tema.post_foro.all %}
    <div class="post-general">
        <div class="post-titulo"><a href="{% url 'foro:post_mensajes' r.id %}">{{r}}</a></div>
        <div class="post-info">
            <div class="post-autor texto-reducido">pepito</div>
            <div class="post-num-mensajes texto-reducido">Mensajes: 4</div>
            <div class="post-fecha-ultimo-mensaje texto-reducido">12/12/2020</div>
        </div>
        <div class="post-descripcion-seccion">{{r.descripcion}}</div>
    </div>
    {% endfor %}
    {% include "partials/pagination.html" with page_obj=tema %}
<form method="post">
    {% csrf_token %}
    <h3>Añadir nuevo Post</h3>
    <input type="text" placeholder="título" name="title" id=""><br><br>
    <textarea name="text" placeholder="Descripción del post..." id="text" cols="30" rows="10"></textarea><br>
    <input class="btn btn-black" type="submit" value="Enviar">
</form>


</div>
{% endblock %}