{% extends "base_gral.html" %} {% load static %}{% block content %}
<h2>{{grupo.nombre_profile}}</h2>
<div class="cabecera">
    {% if grupo.avatar %}
    <img id="iavatar" class="foto-grupo" src="{{ STATIC_URL }}/static/media/{{grupo.avatar}}" alt="Foto del grupo" title="Foto seleccionada por el grupo"> {% else %}
    <!-- Imagen por defecto en caso de que no exista la imagen del producto -->
    <img id="iavatar" class="foto-grupo" src="{% static '/img/your-music-grupo.svg' %}" title="Imagen de grupo por defeto"> {% endif %}
    <!-- TODO2 aquí habría que incluir el enlace a los mensajes posteriores entre usuarios -->
    <!-- TODO conforme tengamos toda la parte de los char cogemos el id del grupo y conectamos al usuario que está conectado con el grupo -->
    <a href="#">
        <input class="btn btn-black" type="submit" value="Contactar">
    </a>
</div>
<div class="estilos">
    <div>
        <h3>Géneros musicales</h3>
    </div>
    {% for genero in generos %}
    <div>{{genero}}</div> {% endfor %}
</div>
<div class="informacion">
    <div>
        <h3>Información</h3>
    </div>
    <div>{{grupo.descripcion}}</div>
    <div><strong>{{grupo.provincia_origen}}</strong></div>
</div>
<div>
    <h3 class="tituloh3">Redes Sociales</h3>
</div>
<div class="redes-sociales">
    {% if grupo.twitter %}
    <div><span>Twitter</span></div>
    <div>{{grupo.twitter}}</div>
    {% endif %} {% if grupo.instagram %}
    <div><span>Instagram</span></div>
    <div><a href="{{grupo.instagram}}">{{grupo.instagram}}</a></div>
    {% endif %} {% if grupo.facebook %}
    <div><span>Facebook</span></div>
    <div><a href="{{grupo.facebook}}" target="_blank">{{grupo.facebook}}</a></div>

    {% endif %} {% if grupo.web %}
    <div><span>Página web</span></div>
    <div>{{grupo.web}}</div>

    {% endif %} {% if grupo.email_profile %}
    <div><span>E-mail</span></div>
    <div><a href="mailto:{{grupo.email_grupo}}">{{grupo.email_grupo}}</a></div>
    {% endif %}
</div>
<!-- TODO: Aplicar con js enlace ver más, para audios, vídeos y noticias. Para que no muestre todo de golpe -->
{% if audios %}
<div class="audios">
    <div>
        <h3 class="tituloh3">Audios</h3>
    </div>
    {% for row in audios %}
    <div>{{row.title}}</div>
    <audio controls src="/static/media/{{row.url_audio}}"></audio> {% endfor %}
</div>
{% endif %} {% if videos %}
<div class="videos">
    <div>
        <h3 class="tituloh3">Videos</h3>
    </div>

    {% for v in videos %}
    <div class="ficha-video">
        <iframe class="videos-youtube" src="https://www.youtube.com/embed/{{v.url_video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endfor %}

    <div class="ver-mas">Ver más</div>

</div>
{% endif %} {% if noticias %}
<div class="noticias-grupo">
    <div>
        <h3>Últimas noticias</h3>
    </div>
    {% for n in noticias %}

    <div class="noticia-extracto">
        <div class="titulo-noticia">{{n.title}}</div>
        <div class="noticia-entradilla">{{n.descripcion}}</div>
    </div>
    {% endfor %}

    <div class="ver-mas">Ver más</div>
</div>
{% endif %} {% endblock %}