{% extends "base.html" %} {% block content %}
<h2>¿Buscas un grupo?</h2>

<form method="get" class="input-group mi-cuenta" id="filterStore">
    <input class="form-control w-25" placeholder="Buscar un grupo" value="{{search}}" name="search" type="text">
    <button class="btn-blackDos" type="submit">Buscar</button>
    <p>Estilo:</p>
    <div class="lista-generos" id="listGenerosComp">
        {% for c in generos %}
        <label>
        <input type="checkbox" name="generos" 
            {% for id in genero_id %}             
                {% if id|floatformat:"0" == c.id|floatformat:"0"  %} 
                    checked 
                {% endif%}  
            {% endfor %} 
            id="{{c.id}}" value="{{c.id}}"> {{c.title}}</label> {% endfor %}
    </div>
    <div class="ver-mas"><span><a href="#" id="verMas">Ver más</a></span></div>
    <p>Provincia:</p>
    <select name="provincia_id" class="">
        <option value="">Sin selección</option>
        {% for p in provincia  %}
        <option    
        {% if provincia_id|floatformat:"0" == p.id|floatformat:"0"  %} selected {% endif%}     
        value="{{p.id}}">{{p.title}}</option>
        
        {% endfor %}
    </select>

    <button class="btn-blackDos" type="submit">Buscar</button>

</form>
<!-- TODO: Anotación -->
<!-- Si deseas ponerlo de otra manera o si prefieres dejarlo así no hay problema.
    He pensado introducir esta variable que si ha iniciado una busqueda cambia el título de grupos
    por el de resultados de la busqueda. -->
{% if busqueda %}
<h2 class="tituloh2">Resultados de la busqueda:</h2>
{% else %}
<h2 class="tituloh2">Grupos</h2>
{% endif %}

<div class="listado-grupos">
    {% for e in grupos|slice:":3" %}
    <dif class="ficha-grupo">
        <!-- TODO -->
        <!-- // No se como verías mostrar el nombre del grupo encima de la foto. O si lo ves mejor en el div de pie-grupos tal y como está -->
        <!-- MHP creo que en algunas ocasiones los grupos pondrán por foto el logotipo o portada del disco donde también aparecerá el nombre. Quizás sea mejor abajo por eso -->
        <div class="foto-grupo">
            <a href="#">
                    {% if e.avatar %}
                    <img src="static/media/{{e.avatar}}" alt="Foto del grupo" title="Foto seleccionada por el grupo">
                    {% else %}
                    <!-- Imagen por defecto en caso de que no exista la imagen del producto -->
                    <img src="static/img/your-music-grupo.svg" title="Imagen de grupo por defeto">
                    {% endif %}
                </a>
        </div>
</div>
<div class="pie-grupos">
    <p><span>{{e.nombre_banda}}</span> - {{e.generos.all|join:", " }} - {{e.provincia_origen}} - {{e.descripcion}} </p>
</div>

{% endfor %}

<!-- TODO -->

<!-- Este include sirve para que si hay por ejemplo 50 grupos no muestre todos en la misma página.
    Por ello dentro de accounts/templates/partials está el archivo pagination.
    Quedaría añadir css para que se vea bien. Como de momento solo tenemos dos grupos, para que se 
    vean todos los campos que se utilizan en la paginación he puesto que solo liste un grupo por página, 
    esto lo cambiaré a por ejemplo 5 o los que veamos cuando tengamos el css de la paginación
-->

{% include "partials/pagination.html" with page_obj=grupos %}

</div>

{% endblock content %}