{% extends "base_user_account.html" %} {% block content %} {% load static %}
<script src="{% static 'js/reset_password.js' %}"></script>
<div class="principal">
    <h2>Recuperar contraseña</h2>
    <div class="reset_password-resultado">Indica el email de tu cuenta y te enviaremos un correo para que puedas cambiar la contraseña</div>
<form method="post" action="{% url 'account:reset_password' %}">
    {% csrf_token %}
    <div>
        <div class="reset_password-email"><input type="text" name="input" placeholder="Email" id="email"></div>
        <!-- TODO Este resultado debe variar si se ha introducido o no un email que tenemos en la base de datos -->
        <!-- Mensaje si correcto: Hemos enviado un email a su dirección de correo. Si no lo recibe en su bandeja de entrada, revise su carpeta de Spam.-->
        <!-- Mensaje si incorrecto: La dirección que nos ha indicado no consta en nuestra base de datos. Revise de nuevo su email. -->
        <div class="reset_password-resultado" id="resultado">{{info}}</div>
        <div><input type="submit" value="Enviar" class="btn btn-black" id="btnEnviar"></div>
    </div>
</form>
</div>
{# Assumes you setup the password_reset view in your URLconf #} {% endblock %}