{% extends "base_gral.html" %} {% block content %}{% load static %}
<script src="{% static 'js/reset_password_confirm.js' %}"></script>
<div class="principal">
    <h2>Confirmar cambio de contraseña</h2>
    <div class="reset_password-resultado">Incluye tu nueva contraseña para confirmar la restauración de la misma.</div>
    <form method="post">
    {% csrf_token %}
        <div class="reset_password_confirm-pass">
            <div>
                <label>
                    <div>Nueva contraseña:</div>
                    <input type="password" name="password" id="pass1">
                </label>
            </div>
            <div>
                <label>
                    <div>Confirmar nueva contraseña:</div>
                    <input type="password" name="password2" id="pass2">
                </label>
            </div>
        </div>
        <div><input type="submit" value="Cambiar contraseña" class="btn btn-black" id="btnEnviar"></div>
    </form>
</div>
{# Assumes you setup the password_reset view in your URLconf #} {% endblock %}