{% extends "base.html" %} {% block content %}


<form method="post">
    {% csrf_token %}

    <!-- TODO: Dar CSS y estilo para visualizarlo tienes que realizar el proceso de recuperar contraseña y darle al enlace que es enviado por correo. -->
    <div class="login-form">
        <div>
            <!-- TODO: Con js comprobar que antes de lanzar el evento submit los campos no están vacíos y coinciden -->
            <label>Nueva contraseña:<input type="password" name="password"></label><br>
        </div>
        <div>
            <label>Confirmar nueva contraseña:<input type="password" name="password2"></label>

        </div>

        <input type="submit" value="Cambiar contraseña" class="btn btn-black">


    </div>




</form>

{# Assumes you setup the password_reset view in your URLconf #} {% endblock %}