{% extends "base_user_account.html" %} {% block content %}

<form method="post" action="{% url 'account:reset_password' %}">
    {% csrf_token %}
    <div>
        <h2>Recuperar contraseña</h2>
        <p>Indica el email de tu cuenta y te enviaremos un correo para que puedas cambiar la contraseña</p>
    </div>

    <div>
        <div>
            <input type="text" name="input" placeholder="Email">
        </div>
        <div>
            <span>{{info}}</span>

        </div>
        <div>
            <input type="submit" value="Enviar" class="btn btn-black">
        </div>
    </div>


</form>

{# Assumes you setup the password_reset view in your URLconf #} {% endblock %}